.footer {
  background: #020617;
  color: #cbd5f5;
  padding: 80px 24px 30px;
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1.2fr 2.8fr;
  gap: 80px;
}

/* BRAND */
.footer-brand p {
  margin-top: 16px;
  font-size: 15px;
  line-height: 1.6;
  color: #94a3b8;
}

.footer-logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo-text{
    color: white;
}

/* LINKS */
.footer-links {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
}

.footer-links h4 {
  font-size: 15px;
  font-weight: 600;
  color: #ffffff;
  margin-bottom: 18px;
}

.footer-links a {
  display: block;
  font-size: 14px;
  color: #94a3b8;
  margin-bottom: 12px;
  text-decoration: none;
}

.footer-links a:hover {
  color: #ffffff;
}

/* BOTTOM */
.footer-bottom {
  max-width: 1200px;
  margin: 60px auto 0;
  padding-top: 20px;
  border-top: 1px solid rgba(148, 163, 184, 0.15);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-bottom p {
  font-size: 14px;
  color: #94a3b8;
}

.footer-socials {
  display: flex;
  gap: 24px;
}

.footer-socials a {
  font-size: 14px;
  color: #94a3b8;
  text-decoration: none;
}

.footer-socials a:hover {
  color: #ffffff;
}

/* RESPONSIVE */
@media (max-width: 900px) {
  .footer-container {
    grid-template-columns: 1fr;
    gap: 50px;
  }

  .footer-links {
    grid-template-columns: repeat(2, 1fr);
  }

  .footer-bottom {
    flex-direction: column;
    gap: 16px;
    text-align: center;
  }
}

@media (max-width: 500px) {
  .footer-links {
    grid-template-columns: 1fr;
  }
}
